@charset "utf-8";
.main-width {
    margin: auto;
    width: 12rem;
    height: 100%;
}
header {
    height: .9rem;
    box-shadow: 0 0 .01rem 0 #000;
}
header > iframe {
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}
footer {
    margin-top: .4rem;
    height: 1.6rem;
}
footer > iframe {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}